.logo {
	font-family: 'Montserrat', sans-serif;
	color: #FF6600;
	font-size: 40px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.sub-logo {
	font-size: 20px;
}

a {
	color: #FF6600;
}

h1 {
	font-family: 'Cormorant Unicase', serif;
	font-weight: normal;
}	

header h1 {
	font-size: 100px;	
	text-align: center;
	line-height: 100px;
	margin: 0px;
}

.helphelphelp-button {
	margin: 0px;
	text-align: center;
}

article.main {
	text-align: center;
	font-size: 25px;
	font-family: 'Roboto', serif;
	margin: 20px;
}

article.main h1 {
	font-family: 'Cormorant Unicase', serif;
	font-weight: normal;
}	

article.main .help-buttons {
	text-align: left;
}