@font-face {
    font-family: 'Roboto-Light';
    src:
        url(~roboto-light.woff2) format('woff2'),
        url(~roboto-light.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Medium';
    src:
        url(~roboto-medium.woff2) format('woff2'),
        url(~roboto-medium.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Bold';
    src:
        url(~roboto-bold.woff2) format('woff2'),
        url(~roboto-bold.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Black';
    src:
        url(~roboto-black.woff2) format('woff2'),
        url(~roboto-black.woff) format('woff');
    font-weight: 400;
}
