@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src:
        url(~museosanscyrl_300.woff2) format('woff2'),
        url(~museosanscyrl_300.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src:
        url(~museosanscyrl_500.woff2) format('woff2'),
        url(~museosanscyrl_500.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src:
        url(~museosanscyrl_700.woff2) format('woff2'),
        url(~museosanscyrl_700.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src:
        url(~museosanscyrl_900.woff2) format('woff2'),
        url(~museosanscyrl_900.woff) format('woff');
    font-weight: 400;
}
