//colors
$chicago: #575756;
$supernova: #FFC306;
$limeade: #7F9306;
$dusty-gray: #979797;
$alto: #D8D8D8;
$hippie-blue: #5C9EAD;
$silver-chalice: #B0B0B0;

//screens
$xlg: 1280;
$lg: 1200;
$md: 992;
$sm: 768;
$xs: 320;